
.detail-container{
    padding-left: 10%;
}

.label{
    width: 70%;
    padding: 10px;
    border-radius: 0ex 20ex 20ex 0ex;
}

.support:hover{
    cursor: pointer;
    background-color: white;
    color: #3FB9A4;
}

#logout:hover{
    cursor: pointer;
}